<h1>Overview</h1>

<p>This is the demo site for <a href="https://github.com/jeremyevans/forme">Forme</a>.  Forme is a HTML forms library for ruby with the following goals:</p>

<ol>
  <li>Have no external dependencies</li>
  <li>Have a simple API</li>
  <li>Support forms both with and without related objects</li>
  <li>Allow compiling down to different types of output</li>
</ol>

<h2>Basic</h2>

<p>These are basic model forms showing many field types and all three association types.  All pages in this section use the same template, with different options per page.</p>

<ul>
  <li><a href="/album/basic/default">Default</a></li>
  <li><a href="/album/basic/explicit">Explicit Labels</a></li>
  <li><a href="/album/basic/table">Table</a></li>
  <li><a href="/album/basic/list">List</a></li>
  <li><a href="/album/basic/alt_assoc">Association Radio and Checkboxes</a></li>
  <li><a href="/album/basic/readonly">Read Only</a></li>
  <li><a href="/album/basic/text">Plain Text</a></li>
</ul>

<h2>Nested Associations</h2>

<p>These show nested associations support.</p>

<ul>
  <li><a href="/album/nested">Single Level Nesting</a></li>
  <li><a href="/artist/nested">Multiple Level Nesting</a></li>
</ul>
