html {
  overflow-y: auto;
}
/* add padding for navbar-fixed-top */
body { padding-top: 70px; }

h1.error {
  color: red;
  text-align: center;
}

.set-label, span.label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

label[for]:after, span.label:after {
  content: ": "
}

span.label {
  padding: inherit;
  font-size: inherit;
  color: inherit;
}

li label input[type="checkbox"], li label input[type="radio"] {
  margin-left: 0.7em;
}
label input[type="checkbox"], label input[type="radio"] {
  display: inline;
}

form.forme ol {
  padding: 0;
}
form.forme li.boolean input[type="checkbox"] {
  margin: 0;
}
abbr[title="required"] {
  color: red;
  border-bottom: none;
}
input, select, textarea { width: auto }
fieldset {margin-left: 10px}
table caption {font-size: 20px; margin-bottom: 10px;}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: white;
}

div.readonly-textarea { display: inline-block;}
div.readonly-textarea p:last-child { margin-bottom: 0;}
