html {
  overflow-y: auto;
}

h1.error {
  color: red;
  text-align: center;
}

label[for]:after {
  content: ": "
}

li label input[type="checkbox"], li label input[type="radio"] {
  margin-left: 0.7em;
}
label input[type="checkbox"], label input[type="radio"] {
  display: inline;
}

form.forme ol {
  padding: 0;
}
form.forme li.boolean input[type="checkbox"] {
  margin: 0;
}
abbr[title="required"] {
  color: red;
}
input, select, textarea { width: auto }
fieldset {margin-left: 10px}
table caption {font-size: 20px; margin-bottom: 10px;}
